.header{
    display: flex;
    justify-content: space-between;
    margin: 12px;
    /* border-radius: 2px; */

}

.header:hover{
    background-color: rgb(248, 248, 248);
    border: darkgrey;
}

.nav-bar > ul{
    list-style-type: none;
    display: flex;
    margin: 2px;
    padding: 5px;
    
}

.nav-bar >ul >li{
    margin: 5px;
    width: 55px;
    height: 20px;
    cursor: pointer;
    font-size: medium;
    
    
    

    
}




.logo{
    height: 90px;
    width: 90px;
    margin: 5px;
    padding: 5px;
    margin-top: 8px;
    
}

.logo:hover{
   transform:scale(1.2);
}


.card{
    width: 240px;
    margin: 10px;
    border: 1px lightgray;
    padding: 10px;
    height: 360px;
    position: relative;
    cursor: pointer;
    border-radius: 2%;
   

}

.card:hover {
   border: 1px  rgb(223, 223, 231);
    background-color: rgb(237, 235, 235)
}


.card > img{
    width: 100%;
    height: 150px;
}

.res{display: flex;
flex-wrap: wrap;
margin-top: 20px;

}

.cui{
    word-break: break-all;
    border-radius: 2px;
    font-size: medium;
    font-weight: 200;
    margin-left: 5px;
    margin-right: 5px;
}


.cui:hover{
    transform: scale(1.1);
}

.rating{
    width: 50px;
    height: 15px;
    background-color : green;
    position: absolute;
    bottom: 0;
        border: 3px solid #73AD21;
      }
    
.deliverytime{
    font-weight: 50;
    font-style: italic;
}